/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:ital,wght@0,300;1,500&display=swap');

/* Reset and Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}


/* Header Styles */
.topContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #2f2f2f;
}


.logo img {
    width: 100px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}

.logo {
    cursor: pointer;
    color: #919191;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
}

/* Navigation Styles */
.topContainer nav {
    display: flex;
    align-items: center;
}

.nav__links {
    list-style: none;
    margin-left: 20px; /* Adjust the left margin as needed */
}

.nav__links li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

li, a {
    text-decoration: none; /* Remove underline from links */
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #919191;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    background-color: #0088a9;
}

/* Title Styles */
#title {
    color: #919191;
}

.authors {
    margin-top: 75px;
    margin-left: 15px;
}

.label {
    color: #919191;
    display: flex;
    border-bottom: solid;
    width: 25%;
}

#Githublogo{
    width: 40px;
    height: auto;
    margin-top: 8px;
  }